<mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <span>Data Hub</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  


<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onUpload()">Upload</button>
  <button mat-menu-item (click)="onFind()">Find</button>
</mat-menu>